body {
    padding-top: 20px;
}
h1 {
    border: 2px solid #999999; border-radius: 20px;
    background-color: #EEEEEE;
    width: 330px;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;        
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px; color: #999999; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
}
table {
    border: 2px solid #999999; border-radius: 20px;
    width: 330px;
    margin-right: auto;
    margin-left: auto; 
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
td {
    font-size: 16px; color: #999999; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.pulse {
    border: 2px solid #999999; border-radius: 20px;
    background-color: #EEEEEE;
    padding: 7px 16px;
    margin: 2px 1px;
    font-size: 14px; color: #999999; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.pulse:hover {
    background-color: #34A7C1;
    color: white;
}
.pulse:focus { 
    outline-style: none; 
}
.standard {
    border: 2px solid #999999; border-radius: 20px;
    background-color: #EEEEEE;
    padding: 7px 24px;
    font-size: 14px; color: #999999; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.standard:hover {
    background-color: #34A7C1;
    color: white;
}
.standard:focus { 
    outline-style: none; 
}